* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(14, 25, 54);
  background-image: linear-gradient(to bottom, rgb(2, 3, 7), rgb(7, 26, 78));
  background-image: -moz-linear-gradient(to bottom, rgb(2, 3, 7), rgb(7, 26, 78));
  background-image: -webkit-linear-gradient(to bottom, rgb(2, 3, 7), rgb(7, 26, 78));
  min-height: 550px;

  font-family: Arial, Helvetica, sans-serif;
}
section {
  float: none;
  width: 500px;
  margin: 100px auto;
  color: rgb(255, 255, 255);
}
section h1{
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 37px;
  text-align: center;
  color: rgb(255, 255, 255);
}
section table{
  float: left;
  width: 100%;
  margin: 0 0 100px 0;
  padding: 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(210, 210, 210);
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 30px 5px rgb(0, 0, 0);

}
section table thead {
  background-color: rgb(34, 34, 34);
}
section table thead tr th{
  padding: 7px 5px;
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: solid rgb(0, 0, 0);
  border-bottom-width: 1px;
  border-right-width: 1px;
}
section table thead tr th:last-child {
  border-right-width: 0px;
}
section table tbody {
  background-color: rgb(220, 220, 220);
}

section table tbody tr td {
  padding: 10px 5px;
  border: 0 solid rgba(255, 255, 255);
  border-bottom-width: 1px;
  border-right-width: 1px;
  font-size: 19px;
  text-align: center;
  color: rgb(19, 19, 19);
}

section table tbody tr.listrado{
  background-color: rgba(0, 0, 0, 0.1);
}
section table tfoot {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
section table tfoot tr td {
  padding: 10px 0;
  font-size: 30px;
  text-align: center;
}
